<body>
    <div id="content">
        <header>
        max-width: 1600px;
        margin: 0 auto;
        padding: 4em;
        font-size: 18px;
        text-align: center;
        </footer>
    </div>
</body>