@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Comfortaa&display=swap');
:root {
    --primary-color: #084C61  ;
    --secondary-color: #306B34 ;
    --accent1-color: #E7DFC6;
    --accent2-color: #ffffff;
  
    --heading-font: "Amarante";
    --paragraph-font: "Comfortaa";
  
    --headline-color-on-white: #084C61;
    --headline-color-on-color: #E7DFC6; 
    --paragraph-color-on-white: #084C61;  
    --paragraph-color-on-color: #E7DFC6; 
    --paragraph-background-color: #084C61  ;
    --nav-link-color: #E7DFC6;
    --nav-background-color: #306B34;
    --nav-hover-link-color: #E7DFC6;
    --nav-hover-background-color: #084C61;
  }
  
content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
  }
header, nav{
    background-color: var(--nav-background-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
nav  {
    list-style-type: none;
    display: flex;
  }
nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }
nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
  }
.hero {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.hero-msg {
    text-align: center
}
.logo, .icon {
    width: 80px;
}
.card-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
.card-img {
    width: 40%;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
h4, p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
  }
.msg {
    background-color: var(--nav-background-color);
    line-height: 2em;
    text-align: center;
    font-size: 1.2em;
}
footer {
    background-color: var(--nav-background-color);
    line-height: 1em;
    text-align: left;
    font-size: 1.2em;
}
footer a:hover {
    text-decoration: none;
}
a.book, a.join, a:hover {
    text-decoration: none;    
    color:  #E7DFC6
}
a.book, a.join, a:active {
    text-decoration: none;
    background-color: #084C61
}

.background {
    height: 725px;
    width: 725px;
}
